@charset "UTF-8";

:root {
    --cor1: ;
    
    --background: #403D39;

    --font1: ;
}

* {
    padding: 0px;
    margin: 0px;
}

.destaque {
    color: #C20114;
}

body {
    background-color: #252422;
    color: #CCC5B9;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    & #perfil{
        display: flex;

        & #resumo {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}
