@charset "UTF-8";

:root {
    --cor1: ;
    
    --background: #403D39;

    --font1: ;
}

* {
    padding: 0px;
    margin: 0px;
}

.destaque {
    color: #C20114;
}

body {
    background-color: #252422;
    color: #CCC5B9;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    overflow: visible;
    position: fixed;
    background-color: #252422;

    & #perfil{
        display: flex;

        & img {
            max-width: 149px;
            margin: 10px ;
            box-shadow: 1px 1px 15px #C20114;
            border-radius: 50%;
        }

        & #resumo {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 10px;

            & h1 {
                margin: 20px 0px 10px 0px;
            }

            & p { /*TROCAR A FONTE*/
                font-weight: bold;
            }
        }
    }
}

section {

    padding-top: 187px;

    & h1 {
        border: 1px solid black;
        color: #C20114;
    }

    & .projetos {

        & .plus {
            display: flex;
            height: 72.5%;
            

            & .conteudo {
                padding: 10px;

                & h2 {

                }
                & p {
                    color: #C20114;
                }
            }

            & a {

                & img {

                }
            }
        }

        & #inversa {

        }
    }
}